<app-admin-loginbar></app-admin-loginbar>

<h1>Assign Task to Employees</h1>

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="label-control">Employee ID</label>
                    <input name="empId" [(ngModel)]="empId" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="label-control">Task Name</label>
                    <input name="taskName" [(ngModel)]="taskName" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="label-control">Task Status</label>
                    <textarea name="taskStatus" [(ngModel)]="taskStatus" id="" cols="30" rows="10" class="form-control"></textarea>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button (click)="AddTask()" class="btn btn-success">Add Task</button>
                </div>
            </div>

        </div>
    </div>
</div>
